.disabled {
  color: GrayText;
}

.error {
  color: red;
}

li > form {
  display: inline-block;
}

li > span {
    margin: 1em;
}

.label {
    font-size: 1.5em;
}

.next {
    display: inline-block;
    min-width: 4em;
    max-width: 4em;
}

    .ok .next {
        background-color: green;
    }

    .warning .next {
        background-color: yellow;
    }

    .overdue .next {
        background-color: orange;
    }

    .critical .next {
        background-color: red;
    }

.period .value::before,
.period .unit::before {
    content: " ";
}
