@import "./fira.less";
@import "./loader.less";


/**
 * Utils
 */

.nopad {
  padding-left: 0px;
  padding-right: 0px;
}

.hbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & > *, & > *:first-child {
    margin-left: @spacing;
  }
  & > *:last-child {
    margin-right: @spacing;
  }
}

.fit {
  flex-grow: 1;
}

.pull-end {
  margin-left: auto;
}


/*
 * Routina style.
 */

@font: Fira Sans;
@error: red;
@annotation: #888;
@decoration: #ddd;

@spacing: 4px;

@ok: green;
@warning: #ffd800;
@overdue: #FF7E00;
@critical: #d70000;


/* Check button Less macro */
.status (@color) {
  box-shadow: inset 4px 0 0 0 @color;
  background-color: fadeout(@color, 80%);
  color: @color;
}


html, body {
  width: 100%;
  padding: 0px;
  margin-bottom: @spacing;
  font-family: @font;
}

.btn.default {
  background-color: transparent;
  border-color: @decoration;
}

.error {
  color: @error;
}

li {

  &.hbox {
    align-items: stretch;
  }

  &.ok button.check {
    .status(@ok);
  }

  &.warning button.check {
    .status(@warning);
  }

  &.overdue button.check {
    .status(@overdue);
  }

  &.critical button.check {
    .status(@critical);
  }

  .routine {
    font-size: 1.2em;
    font-weight: bold;
  }

  .next {
    color: @annotation;
    padding-left: 2px;
    display: block;
  }

  .details {
    align-self: center;

    & > span {
      display: block;
      width: 100%;
      text-align: center;
    }

    .last {
      color: @annotation;

      &::before {
        content: "(";
      }
      &::after {
        content: ")";
      }
    }

    .period {
      .value::before,
      .unit::before {
        content: "\a0";
      }
    }
  }
}

.create {
  margin-bottom: 20px;
  padding-left: @spacing;
  padding-right: @spacing;

  form {
    padding: @spacing 0px;
    border-radius: 4px;
    border: 1px solid @decoration;
  }
}

form {

  &.hbox, &.hbox:last-child {
    margin: 0px;
  }

  .form-control {
    margin-left: @spacing;
    padding: 6px 3px;
  }

  input[name='label'] {
    min-width: 0;
    display: inline;
  }

  input[name='value'] {
    max-width: 4em;
  }

  button[type='submit'] {
    margin-left: @spacing;
  }
}
